body{
    background-color: #720EFF;
}

.custom-nav{
    height: 30px; 
    font-size: large;
    background-color: #8531FC;
    border-color: unset;
}

.custom-item{
    color:#6200EA;
}

.custom-text{
    color: whitesmoke !important;
    text-align: center;
}

.custom-flash {
    color: orangered !important;
}

.header-text {
    padding-left: 10%;
}

.custom-container {
    width: -webkit-fill-available;
    left: 50%;
    top: 50%;
    margin-left: -36.5%;
    margin-top: -20%;
    position: absolute;
    max-width: 75%;
    border-color: black;
    border-width: medium;
    border-style: solid;
}

.border-black {
    border-color: black;
    border-width: none;
    border-style: solid;
}

.inside-form {
    margin-left: 2%;
    margin-right: 2%;
}

.help-block {
    color: red !important;
}

.has-error {
    color: red !important;
}

.no-margin {
    margin: 0px !important;
}

#custom_form {
    display: flex; 
    justify-content: center;
}

td{
   vertical-align: middle !important; 
}

.badge{
    min-width: 5px !important;
    border-radius: 20px !important;
    padding: 0 !important;
    display: block !important; 
    height: 30px; 
    width: 6px;
}

.table-wrapper-scroll-y {
    height: 25px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.todo-cell {
    display: table-cell;
}.check{
    width:2%;
    padding: 4px !important;
}.body{
    width:60%
}.date{
    width:25%
}.icons{
    width:5%
}

.custom-form {
    color: black !important;
    background-color: white;
    border-radius: 1rem; 
    text-align: center;
    padding: 10px;
    min-width: 35%;
}

.custom-todo-form {
    color: black !important;
    background-color: white;
    border-radius: 1rem; 
    text-align: left;
    padding: 10px;
    min-width: 35%;
}

.button-with-icon{
    background-color: inherit; 
    border-style: hidden; 
    height: 40px; 
    width: 40px;
}

.icon-style {
    margin-top: 15%; 
    vertical-align: text-bottom;
}.done{
    color: limegreen;
}.delete{
    color: crimson;
}

input[type=checkbox]{
    zoom: 1.4;
}