{% extends "base.html" %}

{% block content %}
<div class="custom-text">
    <h1>Page Not Found</h1>
</div>
<div class="custom-text">
    <p><a class="btn btn-primary" href="{% if current_user.is_authenticated %} {{ url_for('main') }} {% else %} {{ url_for('login') }} {% endif %}">Back</a></p>
</div>
{% endblock %}