{% extends "base.html" %}

{% block content %}
<div class="custom-text">
    <h1>An unexpected error has occurred</h1>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
</div>
<div>
    <p><a class="btn btn-primary" href="{% if current_user.is_authenticated %} {{ url_for('main') }} {% else %} {{ url_for('login') }} {% endif %}">Back</a></p>
</div>
{% endblock %}