{% set status_color = colors.get(todo.status) %}
<tr style="vertical-align: middle !important;">
    <td class="table-cell check">
        <span class="{% if status_color != None %} badge {% endif %}" style="background-color: {{status_color}}"></span>
    </td>
    <td class="table-cell check">
    
        {% if todo.done %}
            <input id="{{ todo.id }}" type="checkbox" checked>
        {% else %}
            <input id="{{ todo.id }}" type="checkbox">
        {% endif %}
    </td>
    <td class="table-cell body">
        <span>{{ todo.title }}</span>
        <br>
        <span>By {{ todo.author.username }}</span>
    </td>
    <td class="table-cell date">
        <span>Due date: {{ moment(todo.date).format('LL') }}</span>
    </td>
    <td class="table-cell icons">
        <div>
            <a class="btn btn-small btn-primary button-with-icon" href="{{ url_for('edit_todo', id=todo.id) }}">
                <i class="fas fa-pencil-alt fa-1x icon-style" style="color: orange"></i>
            </a>
        </div>
    </td>
    <td class="table-cell icons">
        <div>
            <a class="btn btn-small btn-primary button-with-icon" href="{{ url_for('delete_todo', id=todo.id) }}">
                <i class="fa fa-trash fa-1x icon-style delete"></i>
            </a>
        </div>
    </td>
</tr>