{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    {{ fontawesome_css() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    <nav class="container-fluid navbar navbar-default custom-nav">
        <div class="collapse navbar-collapse">
            {% if not current_user.is_anonymous %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="nav-item">
                        <a class="nav-link custom-text" href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-text" href="{{ url_for('user') }}">User</a>
                    </li>
                </ul>
            {% endif %}
            {% if current_user.is_anonymous %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link custom-text" href="{{ url_for('login') }}">Login</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link custom-text" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <br>
    {% block messages %}
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div style="display: flex; justify-content: center; font-size: medium;">
                        <span class="custom-flash">{{ message }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    {% endblock %}
{% endblock %}

{% block app_content %}{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}