{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div id="custom-form" class="no-margin custom-text">
        <div style="margin-left:5%; display: inline-flex; width: 35%;">
            {% if update == True %}
                <h1>Update todo</h1>
            {% else %}
                <h1>Add todo</h1>
            {% endif %}
        </div>
    </div>
    <div id="custom_form" class="row no-margin">
        <div class="col-md-4 inside-form custom-text custom-form">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.title) }}
                {{ wtf.form_field(form.date) }}
                {{ wtf.form_field(form.status) }}
                {% if update %}
                    {{ wtf.form_field(form.submit, class="btn btn-primary", value='Update') }}
                {% else %}
                    {{ wtf.form_field(form.submit, class="btn btn-primary", value='Create') }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
    <meta charset="utf-8">
	<title>DatePicker Example</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
	$(function() {
		$( "#date" ).datepicker();
	});
	</script>
{% endblock %}