{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div id="custom-form" class="no-margin custom-text">
        <div style="margin-left:5%; display: inline-flex; width: 35%;">
            <h1>Edit Profile</h1>
        </div>
    </div>
    <div id="custom_form" class="row no-margin">
        <div class="col-md-4 inside-form custom-text custom-form">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}