{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div style="padding-top: 3%;">
        <div class="col col-md-6 col-md-offset-3 custom-todo-form">
            <div id="custom-form" class="no-margin custom-text">
                <div style="margin-left:5%; display: flex; color: black !important;">
                    <h3>Todo List</h3>
                </div>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 24em;">
                <table class="table table-borderless" style=" height: 24em; background-color: white; border-collapse: collapse;">
                    <tbody style="vertical-align: middle;">
                            {% for todo in todos %}
                                {% include '_todo.html' %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div style="text-align: right !important; margin-right: 70px;">
                <a class="btn btn-primary" href="{{ url_for('add_todo') }}">Add Task</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
 {{ super() }}
    <script>
        $(function() {
            $(':checkbox').click(function() {
                $.ajax(`/todo_done/${$(this)[0].id}`)})
            });
    </script>
{% endblock %}