{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div id="custom-form" class="no-margin custom-text">
        <div style="margin-left:5%; display: inline-flex; width: 35%;">
            <h1>Profile</h1>
        </div>
    </div>
    <div id="custom_form" class="no-margin">
        <div class="col-md-4 inside-form custom-text custom-form">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username, disabled=True)}}
                {{ wtf.form_field(form.email, disabled=True)}}
                <row>
                    {{ wtf.form_field(form.back)}}
                    {{ wtf.form_field(form.edit_profile, class="btn btn-primary")}}
                </row>
            </form>
        </div>
    </div>
{% endblock %}